
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
  html {
    scroll-behavior: smooth;
  }
*{
    font-family: 'Varela Round', sans-serif;
}
.title{
    font-family: 'Varela Round', sans-serif;
}
.number-font{
    font-family: 'Monoton', sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundimage{
    background: url(../Asset/Image/Home/AI.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%; 
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.child{
    filter: grayscale(100%);
}
.swiper-pagination{
    position: relative!important;
    margin: 20px 0px 0px 0px;
}
.swiper-pagination-bullet-active{
    background-color: #033C89!important;
}

.desktop{
    display: none;
}
.gallery{
    columns: 100px 3;
    column-gap: 20px;
}
.gallery-item{

}
